*.o
*.log
*.engine
*.weights
*.caffemodel
*.zip
*.so
deepstream-app/deepstream-app
*.mp4
*.jpeg
*.png
*.pyc
*.pth
models/facedetectir/facedetectir_int8.txt
models/facedetectir/labels_facedetectir.txt
models/facedetectir/resnet18_facedetectir_pruned.etlt
models/facerecognition/logs_dir/events.out.tfevents.1603964095.sigma
models/facerecognition/face_recognition.pb
models/facerecognition/face_recognition.pb.onnx
models/facerecognition/face_recognition.pb.onnx.trt
models/craft/easyocr/__init__.py
models/craft/easyocr/cli.py
models/craft/easyocr/craft_utils.py
models/craft/easyocr/craft.py
models/craft/easyocr/detection.py
models/craft/easyocr/easyocr.py
models/craft/easyocr/imgproc.py
models/craft/easyocr/model.py
models/craft/easyocr/modules.py
models/craft/easyocr/recognition.py
models/craft/easyocr/utils.py
models/craft/easyocr/character/ab_char.txt
models/craft/easyocr/character/abq_char.txt
models/craft/easyocr/character/ady_char.txt
models/craft/easyocr/character/af_char.txt
models/craft/easyocr/character/ang_char.txt
models/craft/easyocr/character/ar_char.txt
models/craft/easyocr/character/as_char.txt
models/craft/easyocr/character/ava_char.txt
models/craft/easyocr/character/az_char.txt
models/craft/easyocr/character/be_char.txt
models/craft/easyocr/character/bg_char.txt
models/craft/easyocr/character/bh_char.txt
models/craft/easyocr/character/bho_char.txt
models/craft/easyocr/character/bn_char.txt
models/craft/easyocr/character/bs_char.txt
models/craft/easyocr/character/ch_sim_char.txt
models/craft/easyocr/character/ch_tra_char.txt
models/craft/easyocr/character/che_char.txt
models/craft/easyocr/character/cs_char.txt
models/craft/easyocr/character/cy_char.txt
models/craft/easyocr/character/da_char.txt
models/craft/easyocr/character/dar_char.txt
models/craft/easyocr/character/de_char.txt
models/craft/easyocr/character/en_char.txt
models/craft/easyocr/character/es_char.txt
models/craft/easyocr/character/et_char.txt
models/craft/easyocr/character/fa_char.txt
models/craft/easyocr/character/fr_char.txt
models/craft/easyocr/character/ga_char.txt
models/craft/easyocr/character/gom_char.txt
models/craft/easyocr/character/he_char.txt
models/craft/easyocr/character/hi_char.txt
models/craft/easyocr/character/hr_char.txt
models/craft/easyocr/character/hu_char.txt
models/craft/easyocr/character/id_char.txt
models/craft/easyocr/character/inh_char.txt
models/craft/easyocr/character/is_char.txt
models/craft/easyocr/character/it_char.txt
models/craft/easyocr/character/ja_char.txt
models/craft/easyocr/character/ja_char2.txt
models/craft/easyocr/character/ja_punc.txt
models/craft/easyocr/character/kbd_char.txt
models/craft/easyocr/character/kn_char.txt
models/craft/easyocr/character/ko_char.txt
models/craft/easyocr/character/ku_char.txt
models/craft/easyocr/character/la_char.txt
models/craft/easyocr/character/lbe_char.txt
models/craft/easyocr/character/lez_char.txt
models/craft/easyocr/character/lt_char.txt
models/craft/easyocr/character/lv_char.txt
models/craft/easyocr/character/mah_char.txt
models/craft/easyocr/character/mai_char.txt
models/craft/easyocr/character/mi_char.txt
models/craft/easyocr/character/ml_char.txt
models/craft/easyocr/character/mn_char.txt
models/craft/easyocr/character/mr_char.txt
models/craft/easyocr/character/ms_char.txt
models/craft/easyocr/character/mt_char.txt
models/craft/easyocr/character/ne_char.txt
models/craft/easyocr/character/new_char.txt
models/craft/easyocr/character/nl_char.txt
models/craft/easyocr/character/no_char.txt
models/craft/easyocr/character/oc_char.txt
models/craft/easyocr/character/pb_char.txt
models/craft/easyocr/character/pl_char.txt
models/craft/easyocr/character/pt_char.txt
models/craft/easyocr/character/ro_char.txt
models/craft/easyocr/character/rs_cyrillic_char.txt
models/craft/easyocr/character/rs_latin_char.txt
models/craft/easyocr/character/ru_char.txt
models/craft/easyocr/character/sck_char.txt
models/craft/easyocr/character/sk_char.txt
models/craft/easyocr/character/sl_char.txt
models/craft/easyocr/character/sq_char.txt
models/craft/easyocr/character/sv_char.txt
models/craft/easyocr/character/sw_char.txt
models/craft/easyocr/character/ta_char.txt
models/craft/easyocr/character/tab_char.txt
models/craft/easyocr/character/te_char.txt
models/craft/easyocr/character/th_char.txt
models/craft/easyocr/character/tl_char.txt
models/craft/easyocr/character/tr_char.txt
models/craft/easyocr/character/ug_char.txt
models/craft/easyocr/character/uk_char.txt
models/craft/easyocr/character/ur_char.txt
models/craft/easyocr/character/uz_char.txt
models/craft/easyocr/character/vi_char.txt
models/craft/easyocr/dict/ab.txt
models/craft/easyocr/dict/af.txt
models/craft/easyocr/dict/ar.txt
models/craft/easyocr/dict/az.txt
models/craft/easyocr/dict/be.txt
models/craft/easyocr/dict/bg.txt
models/craft/easyocr/dict/bn.txt
models/craft/easyocr/dict/bs.txt
models/craft/easyocr/dict/cs.txt
models/craft/easyocr/dict/cy.txt
models/craft/easyocr/dict/da.txt
models/craft/easyocr/dict/de.txt
models/craft/easyocr/dict/en.txt
models/craft/easyocr/dict/es.txt
models/craft/easyocr/dict/et.txt
models/craft/easyocr/dict/fa.txt
models/craft/easyocr/dict/fr.txt
models/craft/easyocr/dict/ga.txt
models/craft/easyocr/dict/he.txt
models/craft/easyocr/dict/hi.txt
models/craft/easyocr/dict/hr.txt
models/craft/easyocr/dict/hu.txt
models/craft/easyocr/dict/id.txt
models/craft/easyocr/dict/is.txt
models/craft/easyocr/dict/it.txt
models/craft/easyocr/dict/ja.txt
models/craft/easyocr/dict/kn.txt
models/craft/easyocr/dict/ko.txt
models/craft/easyocr/dict/ku.txt
models/craft/easyocr/dict/la.txt
models/craft/easyocr/dict/lt.txt
models/craft/easyocr/dict/lv.txt
models/craft/easyocr/dict/mi.txt
models/craft/easyocr/dict/ml.txt
models/craft/easyocr/dict/mn.txt
models/craft/easyocr/dict/mr.txt
models/craft/easyocr/dict/ms.txt
models/craft/easyocr/dict/mt.txt
models/craft/easyocr/dict/ne.txt
models/craft/easyocr/dict/nl.txt
models/craft/easyocr/dict/no.txt
models/craft/easyocr/dict/oc.txt
models/craft/easyocr/dict/pb.txt
models/craft/easyocr/dict/pl.txt
models/craft/easyocr/dict/pt.txt
models/craft/easyocr/dict/ro.txt
models/craft/easyocr/dict/rs_cyrillic.txt
models/craft/easyocr/dict/rs_latin.txt
models/craft/easyocr/dict/ru.txt
models/craft/easyocr/dict/sk.txt
models/craft/easyocr/dict/sl.txt
models/craft/easyocr/dict/sq.txt
models/craft/easyocr/dict/sv.txt
models/craft/easyocr/dict/sw.txt
models/craft/easyocr/dict/ta.txt
models/craft/easyocr/dict/te.txt
models/craft/easyocr/dict/th.txt
models/craft/easyocr/dict/tl.txt
models/craft/easyocr/dict/tr.txt
models/craft/easyocr/dict/ug.txt
models/craft/easyocr/dict/uk.txt
models/craft/easyocr/dict/ur.txt
models/craft/easyocr/dict/uz.txt
models/craft/easyocr/dict/vi.txt
models/craft/craft_mlt_25k.onnx
models/craft/craft_mlt_25k.onnx.trt
