*.o
*.log
*.engine
*.weights
*.caffemodel
*.zip
*.so
*.mp4
*.jpeg
*.png
*.pyc
*.pth
*.onnx
*.onnx.trt
*.trt
*.pb
*.etlt
models/facedetectir/facedetectir_int8.txt
models/facedetectir/labels_facedetectir.txt
src/media_analytics_app/media_analytics_app
src/media_analytics_app/media_analytics_app
